html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
}
p {
    color: red;
}

.side-image-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex: 1; */
    /* flex-grow: ; */
    /* flex-basis: 70%; */
    background-color: green;
    width: 30%;
    /* max-height: 100%; */
    background-image: url("roan-lavery-lvy_VvdLmnA-unsplash.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.side-image {
    object-fit: contain;
    max-height:100%;
    height: 100%;
    /* max-width: 100%; */
}

.sign-up-container {
    padding-left: 20px;
    background-color:rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.sign-up-header {
    background-color: wheat;
    padding-top: 10%;
}
input, label {
    display:block;
}

.form-container {
    display: flex;
    width: 500px;
    background-color: aqua;
    flex-wrap: wrap;
    gap: 30px 70px;
}

.login-container {
    /* display: inline-block; */
    display: inline;
    background-color: black;
}

.create-account-sign-in-container {
/* display: flex;
flex-direction: column;
align-items: flex-start; */
}

button {
    display: block;
    margin-bottom: 30px;
}

.sign-up-footer {
    background-color: blanchedalmond;
    padding-bottom: 10%;
    padding-top: 30px;
}

.sign-up-body {
    padding-top: 10px;
    padding-bottom: 40px;
}